* {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --ff: "Inter", sans-serif;

    --title: 700 1.5rem/2rem var(--ff);
    --label: 600 1rem/1.25rem var(--ff);
    --paragraph: 500 1rem/1.25rem var(--ff);
    --link: 500 .875rem/1rem var(--ff);

    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;

    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--background-primary);
    justify-items: center;
    align-items: center;
    font-family: var(--ff);
}

header {
    width: 100%;
    text-align: center;
    padding: 3rem 0 1rem;
}

main {
    width: 100%;
    padding: 0 2rem;
    padding-bottom: 3rem;
}

main .top {
    display: grid;
    gap: 1rem;
    align-items: center;

    & a {
        color: var(--color-brand);
        font: var(--link);
    }

    & h1 {
        font: var(--title);
        color: var(--content-primary);
    }
}

form {
    width: 100%;
}

form .add-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2.75rem;
}



form .add-item button {
    height: 2.75rem;
    background-color: var(--color-brand);
    border: none;
    border-radius: .75rem;
    color: var(--always-white);
    font: var(--label);
    
    &:hover {
        background-color: var(--color-brand-hover);
    }
}


.list-wrapper {
    margin-top: 2.5rem;
    display: grid;
}

.item-list {
    width: 100%;
    height: 3rem;
    background-color: var(--background-secondary);
    display: flex;
    gap: .75rem;
    align-items: center;
    padding: .75rem .5rem;
    border-radius: .75rem;
    font: var(--paragraph);
    color: var(--content-secondary);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.item-list + .item-list{
    margin-top: .75rem;
}

.item-list div{
        margin-left: auto;
        cursor: pointer;
}

.quantity-container{
    max-width: min-content;
}

#alert {
    display: none;
}

#alert .alert-content {
    margin-top: 2.25rem;
    padding: .75rem;
    width: 100%;
    height: 3rem;
    background-color: var(--color-danger);
    border-radius: .75rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

#alert .alert-content div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--always-white);
    font: var(--label);

    & img{
        cursor: pointer;
    }
}

input[type="text"] {
    width: 100%;
    height: 3rem;
    background-color: var(--background-secondary);
    border-radius: .75rem;
    padding: .5rem;
    outline: solid 2px var(--content-tertiary);
    border: none;
    color: var(--content-tertiary);
    font: var(--paragraph);
}

input[type="text"]:focus {
    outline: 2px solid var(--color-brand);
    border: none;
    color: var(--content-primary);
}

input[type="checkbox"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--border-primary);
    border-radius: .3rem;
    background-color: var(--always-white);
    display: inline-block;
}

input[type="checkbox"]:checked {
    border: 2px solid var(--color-brand);
    background-color: var(--color-brand);
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 7.5L4.75 9.25L10 3.75' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
}

input[type="number"]{
    width: 3rem;
    height: 1.5rem;
    border: 2px solid var(--border-primary);
    border-radius: .3rem;
    background-color: var(--always-white);
    color: #080B12;

    padding: .375rem;
}

@media (min-width: 1280px) {
    main {
        width: 627px;
    }
}
